body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.back-button {
    background-color: transparent;
    color: rgb(5, 5, 5); 
    padding: 15px 30px;
    border: 2px solid rgba(255, 165, 0, 0.7); 
    cursor: pointer;
    font-size: 20px;
    align-self: flex-start;
    transition: border-color 0.3s ease; 
    border-radius: 30%;
    text-decoration: none;
}

.back-button:hover {
    background-color: #eec147;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.form-header {
    text-align: center;
    padding-bottom: 30px;
}

.form-header h1 {
    font-size: 36px;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form .form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

form .services {
    display: flex;
    flex-wrap: wrap;
}

form .services label {
    width: 50%;
    margin-bottom: 5px;
    font-weight: normal;
}

form .services input[type="checkbox"] {
    margin-right: 10px;
}

.submit-btn {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: darkorange;
}

.messages {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.error {
    color: #d9534f; 
    background-color: #f2dede; 
    border-color: #ebccd1; 
}
.success {
    color: #5cb85c; 
    background-color: #dff0d8; 
    border-color: #d6e9c6; 
}
