.container {
    display: flex;
    max-width: 100%;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    background-color: #f0f0f0; 
}

.forgot-password-container {
    max-width: 100%;
    margin: 10%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.submit-btn {
    background-color: #ffa500b3; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #ffa500b3; 
}

.messages {
    margin-top: 10px;
    color: #d9534f;
}

.back-button {
    background-color: transparent;
    color: rgb(5, 5, 5); 
    padding: 15px 30px;
    border: 2px solid rgba(255, 165, 0, 0.7); 
    cursor: pointer;
    font-size: 20px;
    align-self: flex-start;
    transition: border-color 0.3s ease; 
    border-radius: 30%;
    text-decoration: none;
}

.back-button:hover {
    background-color: #eec147;
}