body {
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #f8f9fa;
    color: rgb(10, 10, 10);
    padding: 0px 100px 0px 100px ;
}

.navbar-toggler {
    background-color: #c4c9ce;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px; 
    height: 60px;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 2px 0; 
}

.profile-picture {
    width: 80px;            
    height: 80px;           
    border-radius: 50%;     
    object-fit: cover;     
    border: 2px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.logout-button {
    background-color: #d9534f; 
    border: none;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px; 
    height: 60px;
}

.collapse {
    display: none;
    background-color: #faf9f8; 
    padding: 10px;
    position: fixed;
    
    margin-top: 5px;
    width: 15%;
    z-index: 999;
}
.collapse.show {
    display: block;
}
.options {
    list-style-type: none;
    padding: 0;
}
.options li {
    margin: 5px 0;
}
.options a {
    text-decoration: none;
    color: #333; 
}

.search_date {
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
}

.search_date label {
    font-size: 12px;
}

.search_date button, input[type="date"] {
    width: 300px;               
    height: 45px;               
    padding: 10px;              
    font-size: 18px;            
    border: 2px solid #ffa500b3;  
    border-radius: 8px;         
    background-color: #f4f4f4;  
    box-sizing: border-box;    
    color: #333;                
    transition: border 0.3s ease, background-color 0.3s ease; 
        }

.containerC {
    padding: 15px;
    margin: 100px;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
}
.button {
    background-color: #ffa500b3; 
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.rent-button {
    width: 100%;
    height: 50px;
    background-color: #ffa500b3;
    border-style: none;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 5px 0;
}

.navbar-expanded {
    margin-left: 250px;
}

.messages {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.error {
    color: #d9534f; 
    background-color: #f2dede; 
    border-color: #ebccd1; 
}
.success {
    color: #5cb85c; 
    background-color: #dff0d8; 
    border-color: #d6e9c6; 
}

.cart-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-icon span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.display {
    text-align: right;
}
.cart-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-table th, .cart-table td {
    padding: 15px;
    text-align: left;
}

.cart-table th {
    background-color: #ffa500b3;
    border: 1px solid #ddd;
    color: white;
    text-align: center;
    font-size: 18px;
}

.cart-table td {
    text-align: center;
    font-size: 16px;
}

.cart-table button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffa500b3;
    color: white;
    border: none;
    cursor: pointer;
}

.display {
    margin-top: 10px;
    font-size: 16px;
}

.checkout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffa500b3;
    color: white;
    border: none;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: rgb(196, 136, 7);
}
